POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=hallmarq
JWT_SECRET=this-is-a-very-secure-jwt-secret-with-at-least-32-chars!
CLIENT_URL=http://localhost:5173,http://localhost:3000,http://localhost:80
MAIL_FROM=noreply@hallmarq.local
